<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <header>
    <h1>Dewey McNeill</h1>
    <p><label>Email: </label>d.thorne@gmail.com</p>
    <p><label>Mobile: </label>801.874.5371</p>
  </header>
  <main>
    <section id="work">
      <ul>
        <li>
          <h2> Software Engineer, Web. </h2>
          <p> FamilySearch. </p>
          <p> Orem, Utah, August 2014 &mdash present </p>
        </li>
      </ul>
    </section>
  </main>
</body>
</html>
