<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <header>
    <h1>Dewey McNeill</h1>
    <p><label>Email: </label>d.thorne@gmail.com</p>
    <p><label>Mobile: </label>801.874.5371</p>
  </header>
  <main>
    <section id="work">
      <ul>
        <li>
          <h2> Software Engineer, Web. </h2>
          <p> FamilySearch. </p>
          <p> Orem, Utah, August 2014 &mdash present </p>
          <h3> Build new, mobile-first version of existing project: </h3>
          <ul>
            <li>New features built using web component spec</li>
            <li>Replaced existing features in place with new application</li>
            <li>Use caching and progressive web app principles to reduce first page load and further reduce second view costs</li>
          </ul>
        </li>
      </ul>
    </section>
  </main>
</body>
</html>
